﻿.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0px 5px 5px 0px lightgrey;
    border-left: 0px solid #ddd !important;
    border-bottom: 0px solid !important;
    border-right: 0px solid #ddd !important;
}

    .content-table thead tr {
        background-color: var(--Light-primary);
        color: #ffffff;
        text-align: left;
        font-weight: bold;
        font-size: 16px;
    }

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > td {
    display: table-cell;
    vertical-align: middle !important;
    text-align: center;
    border-bottom-width: 0 !important;
}

    .table-bordered > thead > tr > th:not(:last-child) {
        border-right: 2px solid var(--Lightest-primary) !important;
    }

.table-bordered > tbody > tr > td {
    border: 0px solid #ddd !important;
}

.table-bordered > tbody {
    border: 1.3px solid var(--Lightest-primary);
}

    .table-bordered > tbody > tr > td:not(:last-child) {
        border-right: 2px solid var(--Lightest-primary) !important;
    }

    .table-bordered > tbody > tr:not(:last-child) {
        border-bottom: 1px solid var(--Lightest-primary);
    }

.content-table thead tr th label {
    margin-bottom: 0;
}

.content-table th, .content-table td {
    padding: 12px 15px !important;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

    .content-table tbody tr:nth-of-type(even) {
    }

    .content-table tbody tr:last-of-type {
        /*border-bottom: 2px solid #009897;*/
    }

    .content-table tbody tr.active-row {
        font-weight: bold;
        color: #009897;
    }

.content-table > tbody > tr > td > button > label {
    color: var(--Dark-primary)
}

.content-table > tbody > tr > td > label {
    font-weight: 500;
}


.titulo {
    font-weight: bold;
    text-align: start;
    margin: 0 82px;
    height: 100px;
    display: flex;
    align-items: center;
    color: var(--Dark-primary);
    font-family: roboto;
    font-size: 25px;
}

.bloqueFiltrado {
    border: 1.5px solid rgba(126, 224, 255, 0.47);
    display: flex;
    justify-content: space-between;
    margin: 0 82px;
    padding: 16px 88px 16px 34px;
    border-radius: 30px;
    box-shadow: 0px 5px 5px 0px lightgrey;
}

.datosUsuario {
    display: flex;
    flex-direction: column;
}

    .datosUsuario p {
        font-size: 20px;
        margin: 0;
        color: var(--Dark-primary);
        font-family: roboto;
        line-height: 1.3;
        display: flex;
        justify-content: space-between;
        grid-gap: 12px;
    }

.filtrar {
    display: flex;
    align-items: center;
    grid-gap: 19px;
}

.combito select {
    /* Reset Select */
    appearance: none;
    outline: 0;
    border: 1px solid lightgray;
    border-radius: 6px;
    box-shadow: none;
    /* Personalize */
    flex: 1;
    padding: 0 1em;
    color: black;
    background-color: white;
    background-image: none;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    height: 48px;
}
    /* Remove IE arrow */
    .combito select::-ms-expand {
        display: none;
    }


.combito {
    position: relative;
    display: flex;
    align-items: center;
    width: 20em;
    height: 69px;
    border-radius: .25em;
    overflow: hidden;
}

    /* Arrow */
    .combito::after {
        content: '\25BC';
        position: absolute;
        right: 0;
        padding: 1.5em 1em;
        background-color: var(--Medium-primary);
        transition: .25s all ease;
        pointer-events: none;
        color: white;
        border-radius: 0 6px 6px 0;
        height: 48px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .combito:hover::after {
        background-color: var(--Darkest2-primary);
    }

.botonFiltrar {
    background-color: var(--Medium-primary);
    transition: all .3s;
    border-radius: 16px;
    height: 48px;
    width: 135px;
    font-size: 14px;
    border: none;
    color: white;
    font-family: roboto;
}

    .botonFiltrar:hover {
        background-color: var(--Darkest2-primary);
    }

    .botonFiltrar:active {
        background-color: var(--Dark2-primary);
    }

/*.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td{
            border: 2px solid var(--Lightest-primary) !important;
        }*/

.lblMedioDePago {
    margin-left: auto;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(img/loadingPageSantanatura.gif) center no-repeat #fff;
}

.style-button-red {
    background-color: transparent !important;
    color: black !important;
    border-color: transparent !important;
}

div.centerTable {
    text-align: center;
}

    div.centerTable table {
        margin: 0 auto;
        text-align: left;
        margin-bottom: 70px;
    }

.box {
    box-shadow: none !important;
}


/*-------------------------------------------------MEDIA QUERIES------------------------------------------------------------------------*/
@media (max-device-width: 812px) {
    .bloqueFiltrado {
        padding: 16px 34px;
    }

    .datosUsuario p {
        font-size: 16px;
    }

    .combito {
        width: 14em;
    }
        .combito::after {
            width: 40px;
        }

    .botonFiltrar {
        font-size: 14px;
    }
}

@media (max-device-width: 499px) {
    .titulo {
        justify-content: center;
        font-size: 26px
    }

    .bloqueFiltrado {
        grid-gap: 20px;
        margin: 0 30px;
        padding: 16px 34px 16px 34px;
    }

    .datosUsuario {
        grid-gap: 10px;
    }

        .datosUsuario p {
            font-size: 16px
        }

    .combito {
        width: 16em;
    }

        .combito select {
            font-size: small;
        }

    .bloqueFiltrado, .filtrar {
        flex-direction: column;
    }

    .filtrar {
        grid-gap: 10px;
    }

    .botonFiltrar {
        font-size: 16px;
    }
}